{{partial 'partials/header'}}

<main>
  {{outlet}}
</main>

<footer class="app-footer">
  <div class="container">
    <small>
      {{copyright}} | <a href="https://github.com/gr2m/hoodie-camp">Edit this app on GitHub</a>
    </small>
    <img src="assets/images/camp.png" alt="" />
  </div>
</footer>
