<div class="welcome container">
  <img src="/assets/images/low-profile-dog.png" alt="" />
  <h1>Welcome to Hoodie Camp!</h1>
  <p>
    We created this place to <a href="http://hood.ie/blog/welcoming-communities">welcome new and existing Hoodie contributors</a> and to help maintainers keep an overview.
  </p>
</div>

<div class="teams container">
  <div class="code">
    {{#link-to "team" "code"}}<img src="/assets/images/dev-beaver.png" alt="" />{{/link-to}}
    <h2>{{#link-to "team" "code"}}Code team{{/link-to}}</h2>

    <p>
      Hey there, I’m Charlie the Dev Beaver. I love clean code and a great developer experience.
    </p>
  </div>
  <div class="design">
    {{#link-to "team" "code"}}<img src="/assets/images/design-alpaca.png" alt="" />{{/link-to}}
    <h2>{{#link-to "team" "code"}}Design team{{/link-to}}</h2>

    <p>
      ¿Qué tal? I’m the Design Alpaca. I care about accessability and ease of use of our websites and apps.
    </p>
  </div>
  <div class="docs">
    {{#link-to "team" "code"}}<img src="/assets/images/docs-chicken.png" alt="" />{{/link-to}}
    <h2>{{#link-to "team" "code"}}Docs team{{/link-to}}</h2>

    <p>
      Docs docs docs! I’m the Docs Chickend and make sure that all our code is well documented.
    </p>
  </div>
  <div class="editorial">
    {{#link-to "team" "code"}}<img src="/assets/images/blog-bear.png" alt="" />{{/link-to}}
    <h2>{{#link-to "team" "code"}}Editorial team{{/link-to}}</h2>

    <p>
      Salut! We have lots of good stories here at Hoodie, I love to share them!
    </p>
  </div>
</div>
